/* Variables de color */
:root {
    --header-bg: #7984db;
    --primary: #6C63FF;
    --accent: #FF6584;
}

/* Header igual al home */
.header {
    background-color: var(--header-bg) !important;
}

.navbar-brand .logo-text {
    color: white;
}

.navbar-brand .logo-highlight {
    color: #FFD700; 
}

/* Contenido */
.login-main {
    padding: 100px 0;
    min-height: calc(100vh - 180px); 
    background-image: url('../images/mesas.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: calc(100vh - 80px); 
    opacity: 0.9;
}

.login-card {
    margin-top: 15%;
    border: none;
    border-radius: 12px;
    background-image: url('../images/chefs.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    color: #257cfd;
}



/* Formulario */
.form-control {
    border-radius: 8px;
    padding: 10px 15px;
}

.form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(108, 99, 255, 0.25);
}

/* Footer igual al home */
.footer {
    background-color: #1A1A2E;
    color: white;
}

.footer a {
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.2s;
}

.footer a:hover {
    color: var(--primary);
}

.social-icons a {
    font-size: 1.1rem;
}